body{
    background-color:beige;
    margin: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav li a{
    text-decoration: none;
    color: black;
}
nav li{
    list-style: none;
    display: inline;
    margin-right: 55px;
    margin: 30px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
nav li a:hover{
    color:blueviolet;

}
h1{
    font-style:italic;
    color: black;
    background: linear-gradient(135deg, blue, #f1036a);
    border: 2px;
    border-radius: 10px;
    text-align: left;
    padding: 10px 15px;
    display: inline-block;
    box-shadow: 0px 0px 10px black;
}
.photo{
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  overflow-x:auto;
  justify-content: auto;
}
.photo img{
  width: 600px;
  height: 400px;
  object-fit: cover;
}
.East-Duo{
    display: flex;
    justify-content: center;
}
.East-Duo video{
    width: 40%;
    height: 20%;
}
.article2{
    display: flex;
    gap:10px;
}